body {
    display: block;
    width: 500px;
    margin: 0 auto;
    color: white;
    font-family:'Courier New', Courier, monospace;
}

#container-1 {
    margin-top: 50px;
    padding: 20px 30px;
    background-color: black;
    border-radius: 10px;
    z-index: 2;

}

#background-vid {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
}

#green-headline {
    color: green;
}

#sub-headline {
    color: gray;
}

#generate-btn {
    background-color: green;
    color: white;
    border: 1 solid white;
    border-radius: 4px;
}

.btn {
    text-align: center;
    color: white;
    background-color: grey;
    border: 1 solid gray;
    border-radius: 2px;
    width: 150px;
    height: 20px;
    padding: 1px 3px;
}

#btn-div {
    display: flex;
    justify-content: space-evenly;
}

#line {
    border-top: 1px solid gray;
}

.text-btn {
    font-family: inherit;
}